.Firstsection{
    background-color:brown;
    text-align: justify;
    width: 50%;
    padding: 20px;
    display: inline-block;
    color: rgb(158, 158, 158);
    margin:0 0 25px ;
    border: 10px solid black;

}

.Secondsection{
    background-color:darkorange;
    text-align:justify;
    width: 50%;
    padding: 20px;
    display: inline-block;
    margin:0 0 25px ;
    color: rgb(24, 13, 13);
    border: 10px solid black;
}
.Thirdsection{
    background-color:rgb(43, 34, 24);
    text-align:justify;
    width: 50%;
    padding: 20px;
    display: inline-block;
    margin:0 0 25px ;
    color: rgb(146, 24, 24);
    border: 10px solid black;
}